<%- include('partials/header_bootstrap') -%>

<% missingOIDCScope = new Set(p_missingScope); missingOIDCScope.delete('openid'); missingOIDCScope.delete('offline_access') %>

<div class="container px-3 mt-3">
    <h3>Autorizzi l'invio dei dati?</h3>
    <p>I seguenti dati stanno per essere condivisi con <strong><%= p_client.name %> </strong></p>

    <div class="it-list-wrapper">
      <ul class="it-list">
        <% if (missingOIDCScope.size) { %>
            <% missingOIDCScope.forEach((scope) => { %>
              <li class="py-2 border-bottom">
                  <div class="it-right-zone">
                      <span class="text"><%= scope %></span>
                  </div>
              </li>
            <% }) %>
        <% } %>
      </ul>
    </div>

    <form autocomplete="off" action="<%= p_submitUrl %>" method="post" class="fixed-bottom mt-5 px-3">
        <% if (p_showRememberMeFeature) { %>
            <div class="form-check form-check-group">
                <input id="checkbox10" type="checkbox" name="to_remember" aria-labelledby="checkbox10-help">
                <label for="checkbox10">Non richiedere più il consenso per questo servizio</label>
                <small id="checkbox10-help" class="form-text">Alla prossima occasione di richiesta accesso da parte di questo servizio non ti verrà più richiesto il consenso. Chiaramente se il servizio avrà bisogno di più informazioni allora ti verrà richiesto</small>
            </div>
        <% } %>
        <div class="form-row">
            <div class="form-group col-4">
              <a class="btn btn-block btn-sm btn-outline-primary" href="<%= p_abortUrl %>">Annulla</a>
            </div>
            <div class="fom-group col-8">
              <button autotype="button" class="btn btn-block btn-sm btn-primary">Conferma</button>
            </div>
        </div>
    </form>

</div>

<%- include('partials/footer_bootstrap') -%>
